ansible-core==2.18.5 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
ansible==11.5.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
cffi==1.17.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_python_implementation != "PyPy" and python_version >= "3.11"
cryptography==44.0.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
jinja2==3.1.6 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
markupsafe==3.0.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
packaging==25.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pycparser==2.22 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_python_implementation != "PyPy" and python_version >= "3.11"
pyyaml==6.0.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
resolvelib==1.0.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
