ansible-compat==25.1.5 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
ansible-core==2.18.5 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
ansible-lint==25.4.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_system != "Windows" and python_version >= "3.11"
ansible==11.5.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
attrs==25.3.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
black==25.1.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_system != "Windows" and python_version >= "3.11"
bracex==2.5.post1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
cachetools==5.5.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
certifi==2025.4.26 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
cffi==1.17.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_python_implementation != "PyPy" and python_version >= "3.11"
chardet==5.2.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
charset-normalizer==3.4.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
click-help-colors==0.9.4 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
click==8.1.8 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
colorama==0.4.6 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
cryptography==44.0.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
distlib==0.3.9 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
distro==1.9.0 ; python_version >= "3.11" and (sys_platform == "linux2" or sys_platform == "linux")
docker==7.1.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
enrich==1.2.7 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
filelock==3.18.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
flake8==7.2.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
idna==3.10 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
importlib-metadata==8.7.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_system != "Windows" and python_version >= "3.11"
iniconfig==2.1.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
jinja2==3.1.6 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
jsonschema-specifications==2025.4.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
jsonschema==4.23.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
markdown-it-py==3.0.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
markupsafe==3.0.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
mccabe==0.7.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
mdurl==0.1.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
molecule-plugins==23.7.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
molecule==25.1.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
mypy-extensions==1.1.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_system != "Windows" and python_version >= "3.11"
packaging==25.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pathspec==0.12.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
platformdirs==4.3.7 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pluggy==1.5.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pycodestyle==2.13.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pycparser==2.22 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_python_implementation != "PyPy" and python_version >= "3.11"
pyflakes==3.3.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pygments==2.19.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pyproject-api==1.9.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pytest-testinfra==10.2.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pytest==8.3.5 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
pywin32==310 ; python_version >= "3.11" and sys_platform == "win32"
pyyaml==6.0.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
referencing==0.36.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
requests==2.32.3 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
resolvelib==1.0.1 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
rich==14.0.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
rpds-py==0.24.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
ruamel-yaml-clib==0.2.12 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_python_implementation == "CPython" and platform_system != "Windows" and python_version < "3.13" and python_version >= "3.11"
ruamel-yaml==0.18.10 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_system != "Windows" and python_version >= "3.11"
selinux==0.3.0 ; python_version >= "3.11" and (sys_platform == "linux2" or sys_platform == "linux")
subprocess-tee==0.4.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
tox==4.25.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
typing-extensions==4.13.2 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version < "3.13" and python_version >= "3.11"
urllib3==2.4.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
virtualenv==20.30.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
wcmatch==10.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
yamllint==1.37.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and python_version >= "3.11"
zipp==3.21.0 ; (sys_platform == "linux2" or sys_platform == "linux" or sys_platform != "linux2" and sys_platform != "linux") and platform_system != "Windows" and python_version >= "3.11"
