---
# tasks file for hostname

- name: Import assert.yml
  ansible.builtin.import_tasks: assert.yml
  run_once: yes
  delegate_to: localhost

- name: Install requirements
  ansible.builtin.package:
    name: "{{ hostname_requirements }}"
    state: present
  become: true
  when:
    - hostname_requirements is defined
    - hostname_requirements | length > 0

- name: Gather facts
  ansible.builtin.include_tasks: facts.yml

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ hostname_current_hostname }}"
    use: systemd
  notify:
    - Reboot
    - Gather facts
  when:
    - ansible_connection not in [ "container", "docker", "community.docker.docker" ]
    - hostname_current_hostname is defined

- name: Host file configuration for ipv4
  ansible.builtin.include_tasks: host.yml
  vars:
    host: "{{ hostname_current_hostname }}"
  loop: "{{ hostname_current_ip4adress | list }}"
  # exclude addresses that endswith 1 because they usually
  loop_control:
    loop_var: ip
  when:
    - handle_ipv4
    - ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] not in ['container']

- name: Host file configuration for ipv6
  ansible.builtin.include_tasks: host.yml
  vars:
    host: "{{ hostname_current_hostname }}"
  loop: "{{ hostname_current_ip6adress | list }}"
  loop_control:
    loop_var: ip
  when:
    - handle_ipv6
    - ansible_facts['virtualization_type'] is not defined or ansible_facts['virtualization_type'] not in ['container']
